.content {
    max-width: 1200px;
    margin: 0 auto; /* Untuk center konten */
    padding: 20px; /* Margin padding dari konten */
    padding-top: 100px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cart-section {
    flex: 2;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

textarea {
    resize: vertical; 
    width: 100%; 
    max-width: 100%;
}

.details-section {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.cart-section h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Style untuk tabel keranjang */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

.price {
    text-align: left;
}

th {
    border-bottom: 3px solid #74C69D;
}

td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

td .items {
    display: flex;
    justify-content: center;
    align-items: center;
}

td p {
    margin-left: 10px;
}

.product-image {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    background-color: #74C69D;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}

.quantity-control button:hover {
    background-color: #60a482;
}


.quantity-control input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 5px;
}

/* Tombol perbarui keranjang */
.update-cart-btn {
    margin-top: 30px; 
}

.update-cart-btn a {
    background-color: #74C69D; 
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none;
}

.update-cart-btn a:hover {
    background-color: #60a482;
}

.warning-message {
    background-color: #ffc107;
    color: #000;
    padding: 10px;
    border: 1px solid #ff9800;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.order-history h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.order-history ul {
    list-style: none;
    padding: 0;
}

.order-history li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.order-history .information {
    display: flex;
    text-align: center;
}

.form-section h3 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .info {
    font-size: 12px;
    color: #777;
}

.form-group .info {
	position: relative;
	max-width: 100%;
	background-color: #fff;
	padding: 1.125em 1.5em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.form-group .info::before {
    content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
    border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.shipping-options {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-top: 20px;
}

.shipping-options label {
    cursor: pointer;
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    transition: box-shadow 0.3s ease; 
}

.shipping-options input[type="radio"] {
    display: none; 
}

.shipping-options input[type="radio"]:checked + label {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-color: #333; 
}

.shipping-options img {
    width: 100px;
    min-height: 35px;
    max-height: 35px;
    padding: 5px;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.pay-btn {
    background-color: #74C69D;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}

.pay-btn:hover {
    background-color: #60a482;
}
