/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style untuk body dan font */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
}

/* Styling untuk navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo p{
    font-size: 1.5rem;
    margin-left: 10%;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-bar input {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #74C69D;
    outline: none;
    width: 200px;
    transition: width 0.4s ease;
}

.search-bar input:focus {
    width: 300px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    margin-left: -30px;
    cursor: pointer;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px 12px;
}

.nav-links .home{
    background-color: #f1f1f1;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #74C69D;
    color: white;
    border-radius: 3px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 2;
    min-width: 200px;
    top: 25px;
    border-radius: 3px;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown-content a img{
    width: 15px;
}

.dropdown-content a:hover {
    background-color: #74C69D;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown img {
    transition: transform 0.3s ease;
}

.dropdown:hover img {
    transform: rotate(90deg);
}

.user-options {
    display: flex;
    align-items: center;
}

.cart img{
    width: 30px;
    height: 30px;
}

.sign-in, .register {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 500;
    color: black;
}

.register {
    border: 1px solid #ccc;
}

.sign-in {
    background-color: #74C69D;
}

.sign-in:hover, .register:hover {
    background-color: #74C69D;
    color: white;
}
