.content {
    padding-top: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

.content-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.product-detail {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.image-gallery {
    flex: 1;
}

.image-zoom {
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

#mainImage {
    transition: transform 0.5s ease; /* Transisi saat zoom in dan zoom out */
}

.main-image img {
    width: 100%;
    height: 100%;
}

.thumbnail-images {
    display: flex;
    margin-top: 10px;
}

.thumbnail-images img {
    width: 80px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.thumbnail-images img:hover {
    border-color: #74C69D;
}

.product-info {
    flex: 1;
    padding-left: 10px;
    max-width: 100%; /* Pastikan lebar tidak melebar */
    overflow: hidden; 
}

.product-info h2 {
    margin: 20px 0 20px 0;
}

h1 {
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.description {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    word-wrap: break-word;
}

.description p {
    font-weight: none;
    max-width: 100%;
    overflow-wrap: break-word;
}

.quantity {
    margin-bottom: 20px;
}

.quantity button {
    padding: 10px;
    background-color: #7D93BA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 30px;
    text-align: center;
}

.quantity button:hover {
    background-color: #2980b9;
}

.quantity input[type="text"] {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
}

.quantity .order-btn {
    background-color: #7D93BA;
    text-align: center;
    max-width: 200px;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    padding: 8px ;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
}

.quantity .order-btn:hover {
    background-color: #2980b9;;
}


/* Style Product */
.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    min-width: 220px;
    max-width: 220px;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-card img {
    max-width: 100%;
    max-height: 190px;
    border-radius: 2px;
}

.product-card .description {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    min-height: 100px;
    max-height: 100px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.product-card .description p {
    margin-top: 10px; 
    font-size: 12px;
}

.product-card .product {
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    border-radius: 2px;
}

.product-card a{
    text-decoration: none;
}


.product-name, .product-price {
    text-align: left;
    margin: 3%;
}

.product-price {
    margin-top: auto;
    justify-content: center;
}

.product-name {
    font-weight: bold;
    font-size: 14px;
}

.detail-button {
    background-color: #7D93BA;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: auto; 
    padding: 3px;
}

.detail-button:hover {
    background-color: #2980b9;
}

.cart-icon {
    width: 16px; 
    height: 16px;
}

/* Ulasan Style */
.reviews {
    margin-bottom: 100px;
    background-color: #f9f9f9;
    padding: 0px 20px 20px 20px;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    border-radius: 0 0 3px 3px;
    overflow-x: hidden;
    word-wrap: break-word;
}

h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
}

.additional-info p, .reviews p {
    font-size: 10px;
}

.review-item {
    margin-top: 10px;
}

.review-item strong {
    font-size: 18px;
}

.review-item p {
    font-size: 15px;
    color: #555;
}

.review-item .rating {
    color: #ffcc00;
}


/* Overlay styling */
.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.overlay-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
}

.checkmark-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark-circle {
    background-color: #7D93BA; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.checkmark {
    color: white;
    font-size: 24px;
}

.btn-lanjut {
    background-color: #7D93BA; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
}

.btn-lanjut:hover {
    background-color: #5e7593; 
}

.overlay-content h1 {
    color: #7D93BA; 
}

.overlay-content p {
    color: #333; 
    margin-bottom: 20px;
}


/* Responsif untuk layar tablet (max-width: 768px) */
@media only screen and (max-width: 768px) {
    .content {
        padding-top: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .product-detail {
        flex-direction: column; 
        gap: 10px;
    }

    .image-zoom {
        width: 100%; 
        height: auto;
    }

    .thumbnail-images img {
        width: 60px; 
    }

    .product-info {
        padding-left: 0;
        max-width: 100%; 
    }

    .quantity button, .quantity input[type="text"], .quantity .order-btn {
        width: auto; 
        margin: 5px 0; 
    }

    .product-container {
        max-width: 460px;
    }
}

/* Responsif untuk layar mobile (max-width: 480px) */
@media only screen and (max-width: 480px) {
    .content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .product-detail {
        flex-direction: column;
    }

    .image-zoom {
        width: 100%;
        height: auto;
    }

    .thumbnail-images {
        justify-content: center; 
    }

    .thumbnail-images img {
        width: 50px;
    }

    .product-info {
        padding-left: 0;
    }

    .product-info h1 {
        font-size: 20px;
    }

    .price {
        font-size: 18px;
    }

    .quantity button {
        padding: 8px;
        font-size: 14px;
    }

    .quantity input[type="text"] {
        width: 40px;
        font-size: 14px;
    }

    .quantity .order-btn {
        padding: 10px;
        font-size: 16px;
        width: 100%;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }

    .product-card {
        max-width: 100%; 
        min-width: 0; 
        box-shadow: none; 
        padding: 10px; 
    }

    .product-card img {
        max-width: 100%; 
        height: auto;
    }

    .product-name {
        font-size: 14px;
        margin: 8px 0; 
    }

    .product-price {
        font-size: 14px;
        margin-top: 5px;
    }

    .detail-button {
        padding: 8px;
        font-size: 12px;
    }

    .reviews-product h3 {
        margin-top: 10px;
    }

    .review-item strong {
        font-size: 16px;
    }

    .review-item p {
        font-size: 14px;
    }
}
